.content-404 { 
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    align-items: center; 
}

.img404 {
    display: block;
    max-height: 15rem;
    max-width: 15rem;
    margin: 0 auto 1.5rem;
}

.content-404 p { 
    margin:0
}